.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*

# Custom rules
!src/lib/assets/
!src/lib/components/
**/**.zip
**/tsconfig.**.json
**/postprocess.js